-# Please have a look at app/assets/javascripts/boards/components/board_column.vue
  This haml file is deprecated and will be deleted soon, please change the Vue app
  https://gitlab.com/gitlab-org/gitlab/-/issues/212300
.board.h-100.px-2.align-top.ws-normal{ ":class" => '{ "is-draggable": !list.preset, "is-expandable": list.isExpandable, "is-collapsed": !list.isExpanded, "board-type-assignee": list.type === "assignee" }',
  ":data-id" => "list.id", data: { qa_selector: "board_list" } }
  .board-inner.d-flex.flex-column.position-relative.h-100.rounded
    %header.board-header{ ":class" => '{ "has-border": list.label && list.label.color, "position-relative": list.isExpanded, "position-absolute position-top-0 position-left-0 w-100 h-100": !list.isExpanded }', ":style" => "{ borderTopColor: (list.label && list.label.color ? list.label.color : null) }", data: { qa_selector: "board_list_header" } }
      %h3.board-title.m-0.d-flex.js-board-handle{ ":class" => '{ "user-can-drag": (!disabled && !list.preset), "border-bottom-0": !list.isExpanded }' }

        .board-title-caret.no-drag{ "v-if": "list.isExpandable",
          "aria-hidden": "true",
          ":aria-label": "caretTooltip",
          ":title": "caretTooltip",
          "v-tooltip": "",
          data: { placement: "bottom" },
          "@click": "toggleExpanded" }
          %i.fa.fa-fw{ ":class": '{ "fa-caret-right": list.isExpanded, "fa-caret-down": !list.isExpanded }' }
        = render_if_exists "shared/boards/components/list_milestone"

        %a.user-avatar-link.js-no-trigger{ "v-if": "list.type === \"assignee\"", ":href": "list.assignee.path" }
          -# haml-lint:disable AltText
          %img.avatar.s20.has-tooltip{ height: "20", width: "20", ":src": "list.assignee.avatar", ":alt": "list.assignee.name" }

        .board-title-text
          %span.board-title-main-text.block-truncated{ "v-if": "list.type !== \"label\"",
            ":title" => '((list.label && list.label.description) || list.title || "")',
            data: { container: "body" },
            ":class": "{ 'has-tooltip': !['backlog', 'closed'].includes(list.type), 'd-block': list.type === 'milestone' }" }
            {{ list.title }}

          %span.board-title-sub-text.prepend-left-5.has-tooltip{ "v-if": "list.type === \"assignee\"",
            ":title" => '(list.assignee && list.assignee.username || "")' }
            @{{ list.assignee.username }}

          %gl-label{ "v-if" => " list.type === \"label\"",
            ":background-color" => "list.label.color",
            ":title" => "list.label.title",
            ":description" => "list.label.description",
            "tooltipPlacement" => "bottom",
            ":size" => '(!list.isExpanded ? "sm" : "")',
            ":scoped" => "showScopedLabels(list.label)",
            ":scoped-labels-documentation-link" => "helpLink" }

        - if can?(current_user, :admin_list, current_board_parent)
          %board-delete{ "inline-template" => true,
            ":list" => "list",
            "v-if" => "!list.preset && list.id" }
            %button.board-delete.no-drag.p-0.border-0.has-tooltip.float-right{ type: "button", title: _("Delete list"), ":class": "{ 'd-none': !list.isExpanded }", "aria-label" => _("Delete list"), data: { placement: "bottom" }, "@click.stop" => "deleteBoard" }
              = icon("trash")

        .issue-count-badge.pr-0.no-drag.text-secondary{ "v-if" => "showBoardListAndBoardInfo" }
          %span.d-inline-flex
            %gl-tooltip{ ":target" => "() => $refs.issueCount", ":title" => "issuesTooltip" }
            %span.issue-count-badge-count{ "ref" => "issueCount" }
              %icon.mr-1{ name: "issues" }
              %issue-count{ ":maxIssueCount" => "list.maxIssueCount",
                ":issuesSize" => "list.issuesSize" }
            = render_if_exists "shared/boards/components/list_weight"

        %gl-button-group.board-list-button-group.pl-2{ "v-if" => "isNewIssueShown || isSettingsShown" }
          %gl-button.issue-count-badge-add-button.no-drag{ type: "button",
            "@click" => "showNewIssueForm",
            "v-if" => "isNewIssueShown",
            ":class": "{ 'd-none': !list.isExpanded, 'rounded-right': isNewIssueShown && !isSettingsShown }",
            "aria-label" => _("New issue"),
            "ref" => "newIssueBtn" }
            = icon("plus")
          %gl-tooltip{ ":target" => "() => $refs.newIssueBtn" }
            = _("New Issue")
          = render_if_exists 'shared/boards/components/list_settings'

    %board-list{ "v-if" => "showBoardListAndBoardInfo",
      ":list" => "list",
      ":issues" => "list.issues",
      ":loading" => "list.loading",
      ":disabled" => "disabled",
      ":issue-link-base" => "issueLinkBase",
      ":root-path" => "rootPath",
      ":groupId" => ((current_board_parent.id if @group) || 'null'),
      "ref" => "board-list" }
    - if can?(current_user, :admin_list, current_board_parent)
      %board-blank-state{ "v-if" => 'list.id == "blank"' }
    = render_if_exists 'shared/boards/board_promotion_state'
